pre {
    padding: 10px;
}

.blog-image {
    width: 100%;
}

.blog-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
}

.blog-title p, .blog-title h1 {
    margin-bottom: 5px;
}

.blog-title div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-title-right p {
    text-align: right;
}

.blog-title p {
    margin-top: 0px;
}

.blog-text * {
    all: revert;
}

.blog-title-right {
    margin-left: 10px;
}