.blog-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.blog-item p {
    margin-top: 0px;
}

.blog-item h3 {
    margin-bottom: 5px;
}

.blog-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.blog-item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.blog-item-text h4 {
    font-weight: 300;
}